.toys{
    &__list{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    &__img{
        width: 175px;
    }
    &__emar{
        width: 100%;
    }
}

@media (max-width: 1280px){
    .toys{
        &__list{
            width: 95vw;
        }
        &__img{
            width: 10vw;
        }
    }
}