@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

.container{
  width: 1295px;
  margin: 0 auto;
}

@media (max-width: 1280px){
  .container{
    width: 95vw;
  }
}